@import url("/css/zeroing.css");
@import url(https://fonts.googleapis.com/css?family=Road+Rage:regular&display=swap&subset=cyrillic-ext);
body {
  font-family: "PT Sans", sans-serif;
  background-color: #292828;
  color: #ffffff;
}

body a {
  color: #ffffff;
}

.btn {
  color: #292828;
  padding: 0px 30px;
  font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1600 - 320)));
  border-radius: 10px;
  background: #FCDB0F;
  -webkit-transition: -webkit-box-shadow .8s ease-in 0s;
  transition: -webkit-box-shadow .8s ease-in 0s;
  transition: box-shadow .8s ease-in 0s;
  transition: box-shadow .8s ease-in 0s, -webkit-box-shadow .8s ease-in 0s;
}

.btn:hover {
  -webkit-box-shadow: 9px 9px 21px #F08E2E, -9px -9px 21px #fffc11;
          box-shadow: 9px 9px 21px #F08E2E, -9px -9px 21px #fffc11;
}

.btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.icon-user-circle {
  color: #FCDB0F;
  font-size: calc(40px + (150 - 40) * ((100vw - 320px) / (1600 - 320)));
}

.wrapper {
  height: 100vh;
}

.page {
  height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 991.98px) {
  .page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
}

.page-user {
  display: -ms-grid;
  display: grid;
  height: inherit;
  -ms-grid-rows: 0.6fr minmax(150px, 1fr);
      grid-template-rows: 0.6fr minmax(150px, 1fr);
  justify-items: center;
  position: relative;
  padding: 10px;
}

@media (max-width: 991.98px) {
  .page-user {
    height: initial;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.page-user__history {
  margin: 15px 0px 5px 0px;
}

.box-user {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 991.98px) {
  .box-user {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.box-user__userchange {
  position: absolute;
  top: 0;
  right: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.box-user__userchange a {
  color: rgba(252, 219, 15, 0.5);
}

.box-user__userchange a:hover {
  color: #fcdb0f;
}

@media (max-width: 991.98px) {
  .box-user__userchange {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.box-user__username {
  font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1600 - 320)));
}

@media (max-width: 991.98px) {
  .box-user__username {
    margin-left: calc(20px + (40 - 20) * ((100vw - 320px) / (1600 - 320)));
  }
}

.user-history {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  border: 2px solid #FCDB0F;
  border-radius: 20px;
  align-self: flex-start;
  -webkit-transition: -webkit-box-shadow .8s ease-in-out 0s;
  transition: -webkit-box-shadow .8s ease-in-out 0s;
  transition: box-shadow .8s ease-in-out 0s;
  transition: box-shadow .8s ease-in-out 0s, -webkit-box-shadow .8s ease-in-out 0s;
}

@media (max-width: 991.98px) {
  .user-history {
    display: none;
  }
}

.user-history:hover {
  -webkit-box-shadow: 9px 9px 21px #F08E2E, -9px -9px 21px #fffc11;
          box-shadow: 9px 9px 21px #F08E2E, -9px -9px 21px #fffc11;
}

.user-history__title {
  font-family: "Road Rage";
  font-size: 60px;
  line-height: 1;
  text-align: center;
}

.user-history__border {
  border-top: 2px solid #FCDB0F;
  padding: 15px 25px;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -ms-flex-line-pack: start;
      align-content: start;
}

.user-history__border::-webkit-scrollbar {
  width: 0 !important;
}

.user-history__border {
  overflow: -moz-scrollbars-none;
}

.user-history__border {
  -ms-overflow-style: none;
}

.user-history__row {
  border-bottom: 1px solid #fffc11;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 0.5fr 0.5fr;
      grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  justify-items: center;
}

.page-beer {
  height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1.4fr 1.4fr 0.2fr;
      grid-template-rows: 1.4fr 1.4fr 0.2fr;
  padding: 15px;
  row-gap: 15px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .page-beer {
    -ms-grid-rows: 1.5fr .5fr;
        grid-template-rows: 1.5fr .5fr;
    height: 100%;
  }
}

@media (max-width: 767.98px) {
  .page-beer {
    row-gap: 5px;
  }
}

.page-beer__img {
  grid-column: span 2;
  position: relative;
}

@media (max-width: 991.98px) {
  .page-beer__img {
    grid-column: auto;
  }
}

@media (max-width: 767.98px) {
  .page-beer__img {
    grid-column: span 2;
  }
}

.page-beer__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-beer__card {
  grid-column: span 2;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (max-width: 991.98px) {
  .page-beer__card {
    grid-column: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 767.98px) {
  .page-beer__card {
    grid-column: span 2;
  }
}

.page-beer__btns {
  grid-column: span 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-beer {
  text-align: center;
}

.card-beer__name {
  font-family: "Road Rage";
  font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1600 - 320)));
  line-height: 1;
}

.card-beer__brand {
  font-family: "Road Rage";
  font-size: 50px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 991.98px) {
  .card-beer__brand {
    margin: 0;
  }
}

.card-beer__style {
  font-size: 30px;
}

.card-beer__hop {
  font-size: 30px;
}

.card-beer__malts {
  font-size: 20px;
}

.card-beer__alcohol {
  font-size: 18px;
}

.showinghistory {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 100%;
}

.shaking {
  -webkit-animation: shake 2.5s ease-in forwards;
          animation: shake 2.5s ease-in forwards;
}

.showingbeer {
  -webkit-animation: showbeer 1s ease-in-out forwards;
          animation: showbeer 1s ease-in-out forwards;
}

@-webkit-keyframes shake {
  2% {
    -webkit-transform: translate(10px, -5px) rotate(-0.5deg);
            transform: translate(10px, -5px) rotate(-0.5deg);
  }
  4% {
    -webkit-transform: translate(4px, 1px) rotate(0.5deg);
            transform: translate(4px, 1px) rotate(0.5deg);
  }
  6% {
    -webkit-transform: translate(10px, 9px) rotate(2.5deg);
            transform: translate(10px, 9px) rotate(2.5deg);
  }
  8% {
    -webkit-transform: translate(7px, 7px) rotate(3.5deg);
            transform: translate(7px, 7px) rotate(3.5deg);
  }
  10% {
    -webkit-transform: translate(10px, 0px) rotate(0.5deg);
            transform: translate(10px, 0px) rotate(0.5deg);
  }
  12% {
    -webkit-transform: translate(-3px, -4px) rotate(0.5deg);
            transform: translate(-3px, -4px) rotate(0.5deg);
  }
  14% {
    -webkit-transform: translate(-4px, -2px) rotate(-0.5deg);
            transform: translate(-4px, -2px) rotate(-0.5deg);
  }
  16% {
    -webkit-transform: translate(8px, 7px) rotate(3.5deg);
            transform: translate(8px, 7px) rotate(3.5deg);
  }
  18% {
    -webkit-transform: translate(-8px, -3px) rotate(0.5deg);
            transform: translate(-8px, -3px) rotate(0.5deg);
  }
  20% {
    -webkit-transform: translate(2px, -7px) rotate(-2.5deg);
            transform: translate(2px, -7px) rotate(-2.5deg);
  }
  22% {
    -webkit-transform: translate(6px, 1px) rotate(-1.5deg);
            transform: translate(6px, 1px) rotate(-1.5deg);
  }
  24% {
    -webkit-transform: translate(1px, 1px) rotate(-2.5deg);
            transform: translate(1px, 1px) rotate(-2.5deg);
  }
  26% {
    -webkit-transform: translate(-1px, 10px) rotate(2.5deg);
            transform: translate(-1px, 10px) rotate(2.5deg);
  }
  28% {
    -webkit-transform: translate(10px, -1px) rotate(3.5deg);
            transform: translate(10px, -1px) rotate(3.5deg);
  }
  30% {
    -webkit-transform: translate(-8px, -2px) rotate(2.5deg);
            transform: translate(-8px, -2px) rotate(2.5deg);
  }
  32% {
    -webkit-transform: translate(7px, 0px) rotate(3.5deg);
            transform: translate(7px, 0px) rotate(3.5deg);
  }
  34% {
    -webkit-transform: translate(-1px, -3px) rotate(-1.5deg);
            transform: translate(-1px, -3px) rotate(-1.5deg);
  }
  36% {
    -webkit-transform: translate(-5px, 8px) rotate(1.5deg);
            transform: translate(-5px, 8px) rotate(1.5deg);
  }
  38% {
    -webkit-transform: translate(8px, 5px) rotate(3.5deg);
            transform: translate(8px, 5px) rotate(3.5deg);
  }
  40% {
    -webkit-transform: translate(10px, 2px) rotate(-1.5deg);
            transform: translate(10px, 2px) rotate(-1.5deg);
  }
  42% {
    -webkit-transform: translate(0px, -1px) rotate(-2.5deg);
            transform: translate(0px, -1px) rotate(-2.5deg);
  }
  44% {
    -webkit-transform: translate(-3px, -6px) rotate(0.5deg);
            transform: translate(-3px, -6px) rotate(0.5deg);
  }
  46% {
    -webkit-transform: translate(0px, -6px) rotate(-2.5deg);
            transform: translate(0px, -6px) rotate(-2.5deg);
  }
  48% {
    -webkit-transform: translate(6px, 6px) rotate(-2.5deg);
            transform: translate(6px, 6px) rotate(-2.5deg);
  }
  50% {
    -webkit-transform: translate(-3px, 9px) rotate(-0.5deg);
            transform: translate(-3px, 9px) rotate(-0.5deg);
  }
  52% {
    -webkit-transform: translate(7px, -3px) rotate(1.5deg);
            transform: translate(7px, -3px) rotate(1.5deg);
  }
  54% {
    -webkit-transform: translate(7px, 0px) rotate(1.5deg);
            transform: translate(7px, 0px) rotate(1.5deg);
  }
  56% {
    -webkit-transform: translate(3px, -7px) rotate(0.5deg);
            transform: translate(3px, -7px) rotate(0.5deg);
  }
  58% {
    -webkit-transform: translate(2px, -3px) rotate(-2.5deg);
            transform: translate(2px, -3px) rotate(-2.5deg);
  }
  60% {
    -webkit-transform: translate(5px, 2px) rotate(-2.5deg);
            transform: translate(5px, 2px) rotate(-2.5deg);
  }
  62% {
    -webkit-transform: translate(-2px, 10px) rotate(-0.5deg);
            transform: translate(-2px, 10px) rotate(-0.5deg);
  }
  64% {
    -webkit-transform: translate(8px, -2px) rotate(3.5deg);
            transform: translate(8px, -2px) rotate(3.5deg);
  }
  66% {
    -webkit-transform: translate(8px, -3px) rotate(1.5deg);
            transform: translate(8px, -3px) rotate(1.5deg);
  }
  68% {
    -webkit-transform: translate(4px, 5px) rotate(2.5deg);
            transform: translate(4px, 5px) rotate(2.5deg);
  }
  70% {
    -webkit-transform: translate(0px, -7px) rotate(2.5deg);
            transform: translate(0px, -7px) rotate(2.5deg);
  }
  72% {
    -webkit-transform: translate(5px, -7px) rotate(1.5deg);
            transform: translate(5px, -7px) rotate(1.5deg);
  }
  74% {
    -webkit-transform: translate(-4px, -2px) rotate(-2.5deg);
            transform: translate(-4px, -2px) rotate(-2.5deg);
  }
  76% {
    -webkit-transform: translate(-8px, -2px) rotate(1.5deg);
            transform: translate(-8px, -2px) rotate(1.5deg);
  }
  78% {
    -webkit-transform: translate(2px, -5px) rotate(0.5deg);
            transform: translate(2px, -5px) rotate(0.5deg);
  }
  80% {
    -webkit-transform: translate(-2px, -3px) rotate(0.5deg);
            transform: translate(-2px, -3px) rotate(0.5deg);
  }
  82% {
    -webkit-transform: translate(-4px, -1px) rotate(-0.5deg);
            transform: translate(-4px, -1px) rotate(-0.5deg);
  }
  84% {
    -webkit-transform: translate(-4px, 8px) rotate(0.5deg);
            transform: translate(-4px, 8px) rotate(0.5deg);
  }
  86% {
    -webkit-transform: translate(3px, 5px) rotate(-0.5deg);
            transform: translate(3px, 5px) rotate(-0.5deg);
  }
  88% {
    -webkit-transform: translate(6px, -4px) rotate(3.5deg);
            transform: translate(6px, -4px) rotate(3.5deg);
  }
  90% {
    -webkit-transform: translate(-8px, 3px) rotate(-0.5deg);
            transform: translate(-8px, 3px) rotate(-0.5deg);
  }
  92% {
    -webkit-transform: translate(-5px, 3px) rotate(-2.5deg);
            transform: translate(-5px, 3px) rotate(-2.5deg);
  }
  94% {
    -webkit-transform: translate(10px, 2px) rotate(1.5deg);
            transform: translate(10px, 2px) rotate(1.5deg);
  }
  96% {
    -webkit-transform: translate(-8px, 6px) rotate(-2.5deg);
            transform: translate(-8px, 6px) rotate(-2.5deg);
  }
  98% {
    -webkit-transform: translate(10px, 9px) rotate(1.5deg);
            transform: translate(10px, 9px) rotate(1.5deg);
  }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake {
  2% {
    -webkit-transform: translate(10px, -5px) rotate(-0.5deg);
            transform: translate(10px, -5px) rotate(-0.5deg);
  }
  4% {
    -webkit-transform: translate(4px, 1px) rotate(0.5deg);
            transform: translate(4px, 1px) rotate(0.5deg);
  }
  6% {
    -webkit-transform: translate(10px, 9px) rotate(2.5deg);
            transform: translate(10px, 9px) rotate(2.5deg);
  }
  8% {
    -webkit-transform: translate(7px, 7px) rotate(3.5deg);
            transform: translate(7px, 7px) rotate(3.5deg);
  }
  10% {
    -webkit-transform: translate(10px, 0px) rotate(0.5deg);
            transform: translate(10px, 0px) rotate(0.5deg);
  }
  12% {
    -webkit-transform: translate(-3px, -4px) rotate(0.5deg);
            transform: translate(-3px, -4px) rotate(0.5deg);
  }
  14% {
    -webkit-transform: translate(-4px, -2px) rotate(-0.5deg);
            transform: translate(-4px, -2px) rotate(-0.5deg);
  }
  16% {
    -webkit-transform: translate(8px, 7px) rotate(3.5deg);
            transform: translate(8px, 7px) rotate(3.5deg);
  }
  18% {
    -webkit-transform: translate(-8px, -3px) rotate(0.5deg);
            transform: translate(-8px, -3px) rotate(0.5deg);
  }
  20% {
    -webkit-transform: translate(2px, -7px) rotate(-2.5deg);
            transform: translate(2px, -7px) rotate(-2.5deg);
  }
  22% {
    -webkit-transform: translate(6px, 1px) rotate(-1.5deg);
            transform: translate(6px, 1px) rotate(-1.5deg);
  }
  24% {
    -webkit-transform: translate(1px, 1px) rotate(-2.5deg);
            transform: translate(1px, 1px) rotate(-2.5deg);
  }
  26% {
    -webkit-transform: translate(-1px, 10px) rotate(2.5deg);
            transform: translate(-1px, 10px) rotate(2.5deg);
  }
  28% {
    -webkit-transform: translate(10px, -1px) rotate(3.5deg);
            transform: translate(10px, -1px) rotate(3.5deg);
  }
  30% {
    -webkit-transform: translate(-8px, -2px) rotate(2.5deg);
            transform: translate(-8px, -2px) rotate(2.5deg);
  }
  32% {
    -webkit-transform: translate(7px, 0px) rotate(3.5deg);
            transform: translate(7px, 0px) rotate(3.5deg);
  }
  34% {
    -webkit-transform: translate(-1px, -3px) rotate(-1.5deg);
            transform: translate(-1px, -3px) rotate(-1.5deg);
  }
  36% {
    -webkit-transform: translate(-5px, 8px) rotate(1.5deg);
            transform: translate(-5px, 8px) rotate(1.5deg);
  }
  38% {
    -webkit-transform: translate(8px, 5px) rotate(3.5deg);
            transform: translate(8px, 5px) rotate(3.5deg);
  }
  40% {
    -webkit-transform: translate(10px, 2px) rotate(-1.5deg);
            transform: translate(10px, 2px) rotate(-1.5deg);
  }
  42% {
    -webkit-transform: translate(0px, -1px) rotate(-2.5deg);
            transform: translate(0px, -1px) rotate(-2.5deg);
  }
  44% {
    -webkit-transform: translate(-3px, -6px) rotate(0.5deg);
            transform: translate(-3px, -6px) rotate(0.5deg);
  }
  46% {
    -webkit-transform: translate(0px, -6px) rotate(-2.5deg);
            transform: translate(0px, -6px) rotate(-2.5deg);
  }
  48% {
    -webkit-transform: translate(6px, 6px) rotate(-2.5deg);
            transform: translate(6px, 6px) rotate(-2.5deg);
  }
  50% {
    -webkit-transform: translate(-3px, 9px) rotate(-0.5deg);
            transform: translate(-3px, 9px) rotate(-0.5deg);
  }
  52% {
    -webkit-transform: translate(7px, -3px) rotate(1.5deg);
            transform: translate(7px, -3px) rotate(1.5deg);
  }
  54% {
    -webkit-transform: translate(7px, 0px) rotate(1.5deg);
            transform: translate(7px, 0px) rotate(1.5deg);
  }
  56% {
    -webkit-transform: translate(3px, -7px) rotate(0.5deg);
            transform: translate(3px, -7px) rotate(0.5deg);
  }
  58% {
    -webkit-transform: translate(2px, -3px) rotate(-2.5deg);
            transform: translate(2px, -3px) rotate(-2.5deg);
  }
  60% {
    -webkit-transform: translate(5px, 2px) rotate(-2.5deg);
            transform: translate(5px, 2px) rotate(-2.5deg);
  }
  62% {
    -webkit-transform: translate(-2px, 10px) rotate(-0.5deg);
            transform: translate(-2px, 10px) rotate(-0.5deg);
  }
  64% {
    -webkit-transform: translate(8px, -2px) rotate(3.5deg);
            transform: translate(8px, -2px) rotate(3.5deg);
  }
  66% {
    -webkit-transform: translate(8px, -3px) rotate(1.5deg);
            transform: translate(8px, -3px) rotate(1.5deg);
  }
  68% {
    -webkit-transform: translate(4px, 5px) rotate(2.5deg);
            transform: translate(4px, 5px) rotate(2.5deg);
  }
  70% {
    -webkit-transform: translate(0px, -7px) rotate(2.5deg);
            transform: translate(0px, -7px) rotate(2.5deg);
  }
  72% {
    -webkit-transform: translate(5px, -7px) rotate(1.5deg);
            transform: translate(5px, -7px) rotate(1.5deg);
  }
  74% {
    -webkit-transform: translate(-4px, -2px) rotate(-2.5deg);
            transform: translate(-4px, -2px) rotate(-2.5deg);
  }
  76% {
    -webkit-transform: translate(-8px, -2px) rotate(1.5deg);
            transform: translate(-8px, -2px) rotate(1.5deg);
  }
  78% {
    -webkit-transform: translate(2px, -5px) rotate(0.5deg);
            transform: translate(2px, -5px) rotate(0.5deg);
  }
  80% {
    -webkit-transform: translate(-2px, -3px) rotate(0.5deg);
            transform: translate(-2px, -3px) rotate(0.5deg);
  }
  82% {
    -webkit-transform: translate(-4px, -1px) rotate(-0.5deg);
            transform: translate(-4px, -1px) rotate(-0.5deg);
  }
  84% {
    -webkit-transform: translate(-4px, 8px) rotate(0.5deg);
            transform: translate(-4px, 8px) rotate(0.5deg);
  }
  86% {
    -webkit-transform: translate(3px, 5px) rotate(-0.5deg);
            transform: translate(3px, 5px) rotate(-0.5deg);
  }
  88% {
    -webkit-transform: translate(6px, -4px) rotate(3.5deg);
            transform: translate(6px, -4px) rotate(3.5deg);
  }
  90% {
    -webkit-transform: translate(-8px, 3px) rotate(-0.5deg);
            transform: translate(-8px, 3px) rotate(-0.5deg);
  }
  92% {
    -webkit-transform: translate(-5px, 3px) rotate(-2.5deg);
            transform: translate(-5px, 3px) rotate(-2.5deg);
  }
  94% {
    -webkit-transform: translate(10px, 2px) rotate(1.5deg);
            transform: translate(10px, 2px) rotate(1.5deg);
  }
  96% {
    -webkit-transform: translate(-8px, 6px) rotate(-2.5deg);
            transform: translate(-8px, 6px) rotate(-2.5deg);
  }
  98% {
    -webkit-transform: translate(10px, 9px) rotate(1.5deg);
            transform: translate(10px, 9px) rotate(1.5deg);
  }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@-webkit-keyframes showbeer {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes showbeer {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */