@import url("/css/zeroing.css");
@import url(https://fonts.googleapis.com/css?family=Road+Rage:regular&display=swap&subset=cyrillic-ext);
body {
  font-family: "PT Sans", sans-serif;
  background-color: #292828;
  color: #ffffff;
}

body a {
  color: #ffffff;
}

.btn {
  color: #292828;
  padding: 0px 30px;
  font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1600 - 320)));
  border-radius: 25px;
  background: #FCDB0F;
  -webkit-transition: -webkit-box-shadow .8s ease-in-out 0s;
  transition: -webkit-box-shadow .8s ease-in-out 0s;
  transition: box-shadow .8s ease-in-out 0s;
  transition: box-shadow .8s ease-in-out 0s, -webkit-box-shadow .8s ease-in-out 0s;
}

.btn:hover {
  -webkit-box-shadow: 9px 9px 21px #F08E2E, -9px -9px 21px #fffc11;
          box-shadow: 9px 9px 21px #F08E2E, -9px -9px 21px #fffc11;
}

.btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.wrapper {
  height: 100vh;
}

.page {
  height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 991.98px) {
  .page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
}

.page-user {
  border: 1px solid #e40a0a;
  display: -ms-grid;
  display: grid;
  height: inherit;
  -ms-grid-rows: 0.6fr minmax(150px, 1fr);
      grid-template-rows: 0.6fr minmax(150px, 1fr);
  justify-items: center;
  position: relative;
  padding: 10px;
}

@media (max-width: 991.98px) {
  .page-user {
    height: initial;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.page-user__history {
  margin: 15px 0px 20px 0px;
}

.box-user {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 991.98px) {
  .box-user {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.box-user__userchange {
  position: absolute;
  top: 0;
  right: 0;
}

.box-user__username {
  font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1600 - 320)));
}

@media (max-width: 991.98px) {
  .box-user__username {
    margin-left: calc(20px + (40 - 20) * ((100vw - 320px) / (1600 - 320)));
  }
}

.user-history {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  border: 2px solid #FCDB0F;
  border-radius: 20px;
  -webkit-transition: -webkit-box-shadow .8s ease-in-out 0s;
  transition: -webkit-box-shadow .8s ease-in-out 0s;
  transition: box-shadow .8s ease-in-out 0s;
  transition: box-shadow .8s ease-in-out 0s, -webkit-box-shadow .8s ease-in-out 0s;
}

@media (max-width: 991.98px) {
  .user-history {
    display: none;
  }
}

.user-history:hover {
  -webkit-box-shadow: 9px 9px 21px #F08E2E, -9px -9px 21px #fffc11;
          box-shadow: 9px 9px 21px #F08E2E, -9px -9px 21px #fffc11;
}

.user-history__title {
  font-family: "Road Rage";
  font-size: 60px;
  line-height: 1;
  text-align: center;
}

.user-history__border {
  border-top: 2px solid #FCDB0F;
  padding: 15px 25px;
  overflow: auto;
}

.user-history__border::-webkit-scrollbar {
  width: 0 !important;
}

.user-history__border {
  overflow: -moz-scrollbars-none;
}

.user-history__border {
  -ms-overflow-style: none;
}

.user-history__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #fffc11;
  margin: 0px 0px 10px 0px;
}

.user-history__row div:not(:last-child) {
  margin: 0px 60px 0px 0px;
}

.page-beer {
  border: 1px solid #0a19e4;
  display: -ms-grid;
  display: grid;
  padding: 30px;
}

.page-beer__img {
  position: relative;
  padding: 0px 0px 50% 0px;
}

.page-beer__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-beer__card {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.page-beer__btns {
  -ms-grid-column-align: center;
      justify-self: center;
}

@-webkit-keyframes beerimg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@keyframes beerimg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

.icon-user-circle {
  color: #FCDB0F;
  font-size: calc(40px + (150 - 40) * ((100vw - 320px) / (1600 - 320)));
}

.card-beer {
  text-align: center;
}

.card-beer__name {
  font-family: "Road Rage";
  font-size: 80px;
  line-height: 1;
}

.card-beer__brand {
  font-family: "Road Rage";
  font-size: 50px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

.card-beer__style {
  font-size: 30px;
}

.card-beer__hop {
  font-size: 30px;
}

.card-beer__malts {
  font-size: 20px;
}

.card-beer__alcohol {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */