@import url('/css/zeroing.css');
//для наименования пива
@import url(https://fonts.googleapis.com/css?family=Road+Rage:regular&display=swap&subset=cyrillic-ext);

body {
    font-family: "PT Sans", sans-serif;
    background-color: #292828;
    color: #ffffff;
    a{color: #ffffff;}
}
//Переменные=======================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1100;
$bp1: $maxWidthContainer + 12;
$bp2: 991.98;
$bp3: 767.98;
$bp4: 479.98;
//=================================================================
.btn {
    color: #292828;
    padding: 0px 30px;
    // font-size: 40px;
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1600 - 320)));
    border-radius: 10px;
    background: #FCDB0F;
    transition: box-shadow .8s ease-in-out 0s;
    &:hover{
        box-shadow:  9px 9px 21px #F08E2E,
                 -9px -9px 21px #fffc11;
    }
    &:active{
        transform: translateY(1px);
    }
}

.wrapper {
    height: 100vh;
}
.page {
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width:$bp2+px){
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}
.page-user {
    border: 1px solid #e40a0a;
    display: grid;
    height: inherit;
    grid-template-rows: 0.6fr minmax(150px, 1fr);
    justify-items: center;
    position: relative;
    padding: 10px;
    @media (max-width:$bp2+px){
        height: initial;
        grid-template-rows: 1fr;
    }
    &__box {
    }
    &__history {
        margin: 15px 0px 20px 0px;
    }
}
.box-user {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width:$bp2+px){
        flex-direction: row;
        justify-content: flex-start;
    }
    &__userchange {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__useravatar {
    }
    &__username {
        // font-size: 2.5rem;
        font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1600 - 320)));
        @media (max-width:$bp2+px){
            margin-left: calc(20px + (40 - 20) * ((100vw - 320px) / (1600 - 320)));
        }
    }
}
.user-history {
    @media (max-width:$bp2+px){
        display: none;
    }
    display: grid;
    grid-template-rows: auto 1fr;
    border: 2px solid #FCDB0F;
    border-radius: 20px;
    //этими 2мя ниже можно санимировать
    // align-self: start;
    width: 100%;
    transition: box-shadow .8s ease-in-out 0s;
    &:hover {
        box-shadow:  9px 9px 21px #F08E2E,
                 -9px -9px 21px #fffc11;
    }
    &__title {
        font-family: "Road Rage";
        font-size: 60px;
        line-height: 1;
        text-align: center;
    }
    &__border {
        border-top: 2px solid #FCDB0F;
        padding: 15px 25px;
        overflow: auto;
        display: grid;
        row-gap: 10px;
        align-content: start;
        &::-webkit-scrollbar{width: 0! important}
        &{overflow: -moz-scrollbars-none;}
        &{-ms-overflow-style: none;}
    }
    &__row {
        border-bottom: 1px solid #fffc11;
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
        justify-items: center;
    }
}
.beer {
    &__name {
    }
    &__brand {
    }
    &__ibu {
    }
    &__alcohol {
    }
}

.page-beer {
    border: 1px solid #0a19e4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 52% 8%;
    padding: 30px;
    &__img {
        grid-column: span 2;
        animation: shake 5s ease-out infinite 0s forwards;
        // animation: attense 4.3s ease-in-out infinite alternate 0s forwards;
        // animation: showbeer .9s ease-in-out 0s forwards;

        

        position: relative;
        padding: 0px 0px 50% 0px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__card {
        grid-column: span 2;
        align-self: start;
    }

    &__btns {
        grid-column: span 2;
        justify-self: center;
        align-self: center;
    }
}

@keyframes attense {
    0%{
        transform: scale(.5);
        opacity: 1;
    }
    25%{
        transform: scale(.5);
        opacity: 1;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    75%{
        transform: scale(.5);
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes showbeer {
    0%{
        transform: scale(.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.icon-user-circle {
    color: #FCDB0F;
    font-size: calc(40px + (150 - 40) * ((100vw - 320px) / (1600 - 320)));
}

.card-beer {
    text-align: center;
    &__name {
        font-family: "Road Rage";
        font-size: 80px;
        line-height: 1;
    }
    &__brand {
        font-family: "Road Rage";
        font-size: 50px;
        line-height: 1;
        margin: 0px 0px 20px 0px;
    }
    &__style {
        font-size: 30px;
    }
    &__hop {
        font-size: 30px;
    }
    &__malts {
        font-size: 20px;
    }
    &__alcohol {
        font-size: 18px;
    }
    &__ibu {
    }
}
//=================================================================
@keyframes shake {    
    0%{
        transform: translate(0, 0) rotate(0) scale(.9);
    }
    2% {
        transform: translate(10px, -5px) rotate(-0.5deg) scale(.9);
    }
    4% {
    transform: translate(4px, 1px) rotate(0.5deg) scale(.9);
    }
    6% {
    transform: translate(10px, 9px) rotate(2.5deg) scale(.9);
    }
    8% {
    transform: translate(7px, 7px) rotate(3.5deg) scale(.9);
    }
    10% {
    transform: translate(10px, 0px) rotate(0.5deg) scale(.9);
    }
    12% {
    transform: translate(-3px, -4px) rotate(0.5deg) scale(.9);
    }
    14% {
    transform: translate(-4px, -2px) rotate(-0.5deg) scale(.9);
    }
    16% {
    transform: translate(8px, 7px) rotate(3.5deg);
    }
    18% {
    transform: translate(-8px, -3px) rotate(0.5deg);
    }
    20% {
    transform: translate(2px, -7px) rotate(-2.5deg);
    }
    22% {
    transform: translate(6px, 1px) rotate(-1.5deg);
    }
    24% {
    transform: translate(1px, 1px) rotate(-2.5deg);
    }
    26% {
    transform: translate(-1px, 10px) rotate(2.5deg);
    }
    28% {
    transform: translate(10px, -1px) rotate(3.5deg) scale(1);
    }
    30% {
    transform: translate(-8px, -2px) rotate(2.5deg) scale(1);
    }
    32% {
    transform: translate(7px, 0px) rotate(3.5deg);
    }
    34% {
    transform: translate(-1px, -3px) rotate(-1.5deg);
    }
    36% {
    transform: translate(-5px, 8px) rotate(1.5deg);
    }
    38% {
    transform: translate(8px, 5px) rotate(3.5deg);
    }
    40% {
    transform: translate(10px, 2px) rotate(-1.5deg);
    }
    42% {
    transform: translate(0px, -1px) rotate(-2.5deg);
    }
    44% {
    transform: translate(-3px, -6px) rotate(0.5deg);
    }
    46% {
    transform: translate(0px, -6px) rotate(-2.5deg);
    }
    48% {
    transform: translate(6px, 6px) rotate(-2.5deg);
    }
    50% {
    transform: translate(-3px, 9px) rotate(-0.5deg) scale(1);
    }
    52% {
    transform: translate(7px, -3px) rotate(1.5deg);
    }
    54% {
    transform: translate(7px, 0px) rotate(1.5deg);
    }
    56% {
    transform: translate(3px, -7px) rotate(0.5deg);
    }
    58% {
    transform: translate(2px, -3px) rotate(-2.5deg) scale(.9);
    }
    60% {
    transform: translate(5px, 2px) rotate(-2.5deg);
    }
    62% {
    transform: translate(-2px, 10px) rotate(-0.5deg);
    }
    64% {
    transform: translate(8px, -2px) rotate(3.5deg);
    }
    66% {
    transform: translate(8px, -3px) rotate(1.5deg);
    }
    68% {
    transform: translate(4px, 5px) rotate(2.5deg);
    }
    70% {
    transform: translate(0px, -7px) rotate(2.5deg);
    }
    72% {
    transform: translate(5px, -7px) rotate(1.5deg);
    }
    74% {
    transform: translate(-4px, -2px) rotate(-2.5deg);
    }
    76% {
    transform: translate(-8px, -2px) rotate(1.5deg) scale(1);
    }
    78% {
    transform: translate(2px, -5px) rotate(0.5deg);
    }
    80% {
    transform: translate(-2px, -3px) rotate(0.5deg);
    }
    82% {
    transform: translate(-4px, -1px) rotate(-0.5deg);
    }
    84% {
    transform: translate(-4px, 8px) rotate(0.5deg);
    }
    86% {
    transform: translate(3px, 5px) rotate(-0.5deg);
    }
    88% {
    transform: translate(6px, -4px) rotate(3.5deg);
    }
    90% {
    transform: translate(-8px, 3px) rotate(-0.5deg);
    }
    92% {
    transform: translate(-5px, 3px) rotate(-2.5deg);
    }
    94% {
    transform: translate(10px, 2px) rotate(1.5deg);
    }
    96% {
    transform: translate(-8px, 6px) rotate(-2.5deg);
    }
    98% {
    transform: translate(10px, 9px) rotate(1.5deg) scale(1.3);
    }
    100% {
    transform: translate(0, 0) rotate(0) scale(1.3);
    }
}